.panel-container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-top: 10%;
}

.panel-container .panel-card {
  height: 20%;
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel-card:nth-child(1) {
  /* background: #bbeafe; */
  border: 10px solid #bbeafe;
  display: flex;
  flex-flow: column nowrap;
}

.panel-card:nth-child(2) {
  /* background: #98ddfc; */
  border: 10px solid #98ddfc;
}

.panel-card:nth-child(3) {
  /* background: #72d3fe; */
  border: 10px solid #72d3fe;
  display: flex;
  flex-flow: column nowrap;
}


.panel-card:nth-child(3) div {
 display: flex;
 flex-flow: row nowrap;
 justify-content: space-between;
 align-items: center;
}

.panel-card:nth-child(3) div span {
margin: 0 15px;
 }

.panel-card img {
  height: 40px;
  width: 40px;
}

#panel-top {
  margin-bottom: 9px;
}

#panel-bot {
  margin-top: 9px;
}

@media only screen and (max-width: 600px) {
  .panel-container {
    height: auto;
    width: 70vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 10%;
  }
}
