.panelContainer {
    height: 90%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 10%;
    border: 5px solid orange;
  }
  
   .panelCard {
  // .panelContainer .panelCard {
    border: 5px solid green;
    height: 20%;
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .panelCard:nth-child(1) {
    /* background: #bbeafe; */
    border: 10px solid #bbeafe;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .panelCard:nth-child(2) {
    /* background: #98ddfc; */
    border: 10px solid #98ddfc;
  }
  
  .panelCard:nth-child(3) {
    /* background: #72d3fe; */
    border: 10px solid #72d3fe;
    display: flex;
    flex-flow: column nowrap;
  }
  
  
  .panelCard:nth-child(3) div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .panelCard:nth-child(3) div span {
    margin: 0 15px;
  }
  
   .img {
  // .panelCard img {
    height: 40px;
    width: 40px;
  }
  
  #panelTop {
    margin-bottom: 9px;
  }
  
  #panelBot {
    margin-top: 9px;
  }
  
  @media only screen and (max-width: 600px) {
    .panelContainer {
      // height: auto;
      // width: 70vw;
      // display: flex;
      // flex-flow: column nowrap;
      // justify-content: center;
      // padding-top: 10%;
    }
  }
  