@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:ital,wght@0,300;1,100&display=swap');

$silv: silver;


#Cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 75%;
}

.ghost { opacity: 0.0; }

#Img {
    position: relative;
    left: -7px;
    align-self: center;
}

#Text {
    // grid-area: Bottom; 
    font-family: "Poppins";
    font-size: 17px;
    // text-align: center;
    color: $silv;
}
