$babyblue: #72d3fe;
$dedede: #dedede70;
$ghost: invisible;

@mixin ghost-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    padding-top: 50%;
    display: $ghost;
  }
  &::-webkit-scrollbar-track {
    background: $ghost;
  }
  &::-webkit-scrollbar-thumb {
    // background: blue;
  }

  &::-webkit-scrollbar-thumb:hover {
    // background: #98ddfc;
  }
}

#Page_1 {
  height: 50vh;
  background: $dedede;
  border: none;
  display: grid;
  justify-content: center;
  // align-items: center;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'primary panel';
}

#Page_1:hover { border: 30px dotted $babyblue; }

.primary {    
  // border: 5px solid orange;
  grid-area: primary;    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  // overflow: scroll;    
  // border: 5px solid blue;
  
  // * * * * * * * tinkering 
  position: relative;
  @include ghost-scrollbar;
  // top: -50px;
  // left: -10px;
}

.panel {
  // border: 5px solid green;
  text-align: center;
  display: grid;
  justify-content: flex-end;
  align-items: center;
  // margin-right: 2em;
  grid-area: panel;
  // overflow: hidden;
  overflow: scroll;
  position: relative;
  @include ghost-scrollbar;
  // left: 2px; 
}

#Btn_Test {
    height: 20px;
    width: 20px;
    background: $dedede;
    border: 1px dashed $babyblue;
    border-radius: 50%;
    margin-top: 1em;
}

@media only screen and (max-width: 800px) {
  #Page_1:hover { border: 30px dotted $babyblue; }
}

@media only screen and (max-width: 600px) {

  #Page_1 { grid-template-columns: 1.25fr 0.75fr; }
  #Page_1:hover { border: 20px dotted $babyblue; }

  .primary { overflow: scroll; }
  // .panel { overflow: scroll; }
}