$babyblue: #72d3fe;
$dedede: #dedede70;

#Page_1 {
  height: 50vh;
  background: $dedede;
  border: none;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'primary panel';
}

#Page_1:hover { border: 40px dotted $babyblue; }

.primary {    
  /* border: 5px solid orange; */
  grid-area: primary;    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel {
  /* border: 5px dashed rebeccapurple; */
  grid-area: panel;
  overflow: auto;
}

#Btn_Test {
    height: 20px;
    width: 20px;
    background: $dedede;
    border: 1px dashed $babyblue;
    border-radius: 50%;
    margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  #Page_1:hover { border: 20px dotted $babyblue; }
  
}