/* .main-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'primary panel';
  width: 75vw;
  height: 70vh;
  margin: 0 auto;
} */

#Page_1 {
    height: 50vh;
    background: #dedede70;
    border: none;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 'primary panel';
  }
  
  #Page_1:hover {
    border: 40px dotted #72d3fe;    
  }

  .primary {    
    /* border: 5px solid orange; */
    grid-area: primary;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .panel {
    /* border: 5px dashed rebeccapurple; */
    grid-area: panel;
    overflow: auto;
  }
  
  #Btn_Test {
      height: 20px;
      width: 20px;
      background: #dedede70;
      border: 1px dashed #72d3fe;
      border-radius: 50%;
      margin-top: 1em;
  }
