.scheduleContainer {
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    // overflow: scroll;    
    // width: 100%;
    // border: 1px dashed darkgoldenrod;
    // display: grid;
    // justify-content: center;
    // align-items: center;
  
    // tinkering * * * * * * 
    // height: 100%;
    // grid-template-rows: 1fr 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    // grid-template-columns: 1fr 1fr;
 



    // transform: scale(0.75);
  }
  
  // ul is now a fragment so it asserts no styling.
  .scheduleContainer ul {
    // height: 100%;
    // list-style-type: none;
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: flex-end;

    // * * * * tinkering
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    // * * * * tinkering    
    grid-template-rows: 1fr 1fr;
    // height: 100%;
    // list-style-type: none;
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: center;
    // align-items: center;


  }
  
  .scheduleContainer ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px 0;
  }
  
  .scheduleContainer ul li button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin: 2px 0;
    // padding: 10px;
  }
  
  .scheduleContainer ul li div {
    // position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scheduleContainer ul li div img {
    position: relative;
    left: 150%;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 40px;
    width: 40px;
    // margin: 0 10px;
    // padding-left: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .scheduleContainer {
      /* border: 4px dotted olive; */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transform: rotate(0deg);
      overflow: scroll;
    }
  
    .scheduleContainer ul li div img {
      position: relative;
      /* -ms-transform: rotate(0deg);
      transform: rotate(0deg); */
      height: 30px;
      width: 30px;
      // left: 100%;
      font-size: 20px;
    }
  }

