body {
  /* border: 5px solid dodgerblue; */
  min-height: 100vh;
  overflow: hidden;  
  box-sizing: border-box;
  margin: 0;  
  display: grid;
  justify-content: center;
  align-items: center;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
