.home-container {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'primary panel';
  width: 75vw;
  height: 50vh;
  margin: 0 auto;
  padding: 1em;
  border: 40px dotted #72defe;
}
.home-container:hover { background-color: #dedede70; border: none; }


  .primary {    
    grid-area: primary;    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;    
  }

  .schedule {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    left: 0%;
  }

  .panel {
    grid-area: panel;
    overflow: auto;
  }
  
  #Btn_Test {
      height: 20px;
      width: 20px;
      background: #dedede70;
      border: 1px dashed #72d3fe;
      border-radius: 50%;
      margin-top: 1em;
  }

@media only screen and (max-width: 800px) {

  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    height: 75vh;
    padding-top: 3em;
    border: none;    
  }

  .primary {
    width: 75vw;    
  }

  .panel {
    min-height: 30vh;
    width: 80%;
  }
  
} 