.displayContainer {
    // height: 400px;
    // width: 400px;
  }
  
  .progress {
    position: relative;
    top: -60%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 200;
    color: silver;
  }
  
  // .progressBar {
  //   margin: 0 auto;
  // }

  .progressBar {
    width: 100px;
    height: 160px;
    background-color: #73defe; /* Blue background for the droplet shape */
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50% 50% 60% 60%; /* Adjust the border-radius to shape the droplet */
    position: relative;


  
    /* Pseudo-element to create the water droplet's drop */
    &:after {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 40px;
      background-color: #73defe;
      border-radius: 50%;
    }
  }
    
  .progressBar img {
    height: 100%;
    width: 100%;
    z-index: 100;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 600px) {
    .displayContainer {
      position: relative;
      height: 60%;
      width: 50%;
      margin: 0 auto;
      top: -15%;
      left: -10%;
      margin-bottom: 20px;
    }
  
    .progress {
      position: relative;
      top: -60%;
      left: 40%;
      transform: translate(-50%, -50%);
      font-size: 1.5em;
      font-weight: bold;
      color: black;
    }    
  
    .progressBar img {
      height: 100%;
      width: 100%;
      z-index: 100;
    }
  }

  @media only screen and (max-width: 400px) {
    
  }