.display-container {
  text-align: center;
  /* background-color: blue; */
}

.progress {
  position: relative;
  font-size: 3em;
}

.progress-bar {
  margin: 0 auto;
  height: 85px;
  width: 85px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar img {  
  z-index: 100;
}


@media only screen and (max-width: 600px) {
  .display-container {
    position: relative;
    height: 60%;
    width: 50%;
margin: 0 auto;
top: -15%;
left: -10%;
margin-bottom: 20px;
  }

  .progress {
    position: relative;
    top: -60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
  }

  .progress-bar {
    margin: 0 auto;
    height: 85px;
    width: 85px;
  }

  .progress-bar img {
    height: 85px;
    width: 85px;
    z-index: 100;
  }
}