.streak-display {
  height: 40px;
  width: 40px;
  background: white;
  margin: 5px;
}

.streak-percent {
  position: relative;
  top: -50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

.streak-progress {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.streak-progress img {
  z-index: 100;
  height: 100% !important;
  width: 100% !important;
}
