input {
    height: 2vw;
    width: 12vw;
    background-color: #dedede70;
    border: 1px dashed #dedede70;
    color: silver;
    text-align: center;
    /* margin-top: 0.55em; */
  }
  
  input:focus {
    border: 1px dashed #72d3fe;
  }


#password {
  /* color: '#72d3fe'; */
  color: #7edefe;
  font-size: 20px;
  /* position: absolute; */
   /* fontSize: '20px'}} */
}