.SignupInput-Container {
    margin: 0 auto;
}

 input {
    border: transparent;
    height: 2em;
}

input:focus {
    border: 1px dashed #73defe;
    font-weight: bolder;
}

#password {
    color: #73defe;
}
