.maincontainer {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: 'primary panel';
    width: 75vw;
    height: 50vh;
    margin: 0 auto;
    padding: 1em;
    border: 40px dotted #72defe;
    background-color: rgba(255, 255, 255, 0.955);
  }

.maincontainer:hover { border: none; }



//   .home-container:hover { background-color: #dedede70; border: none; }

