#dropinbucketcont {
    display: grid;
    justify-content: center;
    align-items: center;
    // min-height: 50vh;
    // border: 2px solid green;
    height: 60vh;
    width: 30vw;
}

#dropinbucketcont:hover {
    cursor: none;
}

#centercont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingdroplet {
    /* border: 1px dashed coral; */
    height: 45px;
    width: 45px;
    animation-name: LoadingDropletDrop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#loadingbucket {
    /* border: 1px dotted coral; */
    height: 250px;
    width: 200px;
}

#loadingtext { word-spacing: 0.5px; font-size: 16px; color: silver; font-weight: bolder; }
// style={{ color: 'silver', fontWeight: 'bolder'}}


@keyframes LoadingDropletDrop {
    0% {
        transform: rotate(3deg);
    }
    5% {
        transform: rotate(-3deg);        
    }
    10% {
        transform: translateY(25px);
    }
    20% {
        transform: translateY(50px);
    }
    30% {
        transform: translateY(75px);
    }
    40% {
        transform: translateY(100px);
        opacity: 0.5;
    }
    50% {
        transform: translateY(125px);        
    }
    60% {
        transform: translateY(150px);
        opacity: 0.3
    }
    80% {
        transform: translateY(175px);        
        opacity: 0.1;
    }
    100% {
        transform: translateY(185px);        
        opacity: 0.05;
    }
    // 90% {
    //     transform: translateY(210px);        
    // }
    // 100% {
    //     transform: translateY(-0%);        
    // }    
}

@media only screen and (max-width: 1000px) {
    #loadingbucket {
        height: 250px;
        width: 200px;
    }
}

@media only screen and (max-width: 850px) {
    #loadingbucket {
        height: 200px;
        width: 150px;
    }
}

@media only screen and (max-width: 600px) {
    #loadingbucket {
        width: 65px;
        height: 65px;
    }   

    #loadingtext { font-size: 10px; color: silver; font-weight: bolder; }
}