.streakContainer{


}

.ul{    
    // width: 50%;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;

    // tinkering! ! ! 
    width: 100%;
    // border: 5px solid hotpink;
}

@media only screen and (max-width: 600px) {
}