.navbarcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin-top: 1em;
  }
  
  .navbarcontainer img {
    // padding: 0.125em;
    height: 50px;
    width: 50px;
    margin: 0 0.25em;
    border-radius: 50%;
    border: none;
  }

// with no flexgrow, iphone responsive designs create uneven space. more white space to the Left than Right. ipad & desktop space-between were evenly spaced without this property.
  .navbarcontainer > div:first-child {  flex-grow: 1;  }
    
  

  .Msg-Bottle-Animation {
    animation-name: Boop;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
  }



  @keyframes Boop {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(45deg);
    }
    75% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media only screen and (max-width: 800px) {
    .navbarcontainer {
      padding: 0 2em;
      /* justify-content: center; */
    }
  }

  @media only screen and (max-width: 600px) {
    .navbarcontainer {
      padding: 0 2em;
      /* justify-content: center; */
    }    
  }