@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Poppins:ital,wght@0,300;1,100&display=swap');


.App {
  /* padding: 50px;  */
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.927);
  /* display: flex;
  flex-direction: column; */
  display: grid;
  /* border: 2px solid hotpink; */
  grid-template-rows: 50px 1fr 50px;
  align-items: center;
  height: 95vh;
  max-width: 100vw;
  min-width: 100vw;
}

/* .navbar { 
  grid-area: navbar; */
  /* border: 3px solid hotpink; */
 /* } */

/* body { */
  /* color: rgba(255, 255, 255, 0.927); */
  /* display: grid;   */
  /* box-sizing: border-box; */
  /* margin: 0; */
/* } */

.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.justCenterAlignCenter { justify-content: center; align-items: center; }
.noFlexWrap { flex-wrap: nowrap; }
.flexWrap { flex-wrap: wrap; }

.ghost { opacity: 0.0; }

#LifeWaterWaterLife {
  font-family: 'Moon Dance', 'cursive';
  /* text-align: center; */
   color: #73defe;
  
  font-size: 55px;
  word-spacing: 2em;
  /* position: relative; */
  /* top: 20px; */ 
}

#LifeWaterWaterLife:hover {
   cursor: none;   
}

@media only screen and (max-width: 800px) {
  /* #LifeWaterWaterLife {
    font-size: 20px;
    word-spacing: 1.0em;
  } */
}

@media only screen and (max-width: 600px) {
  #LifeWaterWaterLife { 
    font-size: 40px;
    word-spacing: 1em;
  }  
}

@media only screen and (max-width: 600px) {
  #LifeWaterWaterLife { 
    font-size: 35px;
    word-spacing: 0.75em;
  }  
}

/* .dashboard-container {
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: "main";
  /* border-bottom: 40px dotted #72d3fe; */
/* } */

/* .dashboard-container {
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-bottom: 40px dotted #72d3fe;
} */

.dashboard-container {
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* border-bottom: 40px dotted #72d3fe; */
}

.react-calendar {
  width: 40%;
  transform: scale(0.75);
} 

.react-calendar__navigation__arrow {
  color: silver;
}

/* .dashboard-container {
  min-height: 50vh;
  min-width: 50vw;
  background: "#dedede70";
  display: flex;
  align-items: center;
  flex-direction: column;
} */
  

.calendar { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }

.react-calendar {
  width: 600px !important;
  height: 600px !important;
  font-size: 30px !important;
}

.calendar-details {
  height: 600px;
  width: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;  
  align-items: center;
}

.react-calendar__navigation__arrow .react-calendar__navigation__prev2-button {
  color: silver;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bolder;
  color: silver;
  font-size: 14px;
  margin-bottom: 0.25em;
}

.react-calendar__tile--now {
}

.calendar-details .calendar-date {
  font-size: 2.5em;
}

.calendar-details .calendar-progress {
  font-size: 1.5em;
}

.calendar-details .calendar-status {
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0;
  border: 5px solid
}

.calendar-details .calendar-status img {
  height: 40px;
  width: 40px;
}

button.react-calendar__tile.react-calendar__month-view__days__day {
  height: 80px;
  width: 1fr;
  border-radius: 50%;
  border: 5px dashed #72defe;
  /* border: 5px solid blue; */
}

button.react-calendar__tile.react-calendar__month-view__days__day:hover {
  background: rgb(114, 211, 254) !important;
  background: linear-gradient(
    0deg,
    rgba(114, 211, 254, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  border: none;
}

button.react-calendar__tile:not(.react-calendar__tile--now) {
  background-color: #ffffff;
  color: silver;
}

button.react-calendar__tile--now {
  color: #ffffff;
  background: rgb(114, 211, 254) !important;
}

button.react-calendar__tile.react-calendar__month-view__days__day.calendarCurrentDay {
  color: #dedede70;
  border: 1px dashed #73defe;
}


.react-calendar__navigation {
  border: 5px solid #dedede70;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.react-calendar__navigation__label {
  color: #73defe;  
}

.react-calendar__navigation__label:hover {  
}

.react-calendar__navigation button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 40px !important;
  text-transform: uppercase !important;
  
}

.react-calendar__navigation button:hover {
  background-color: #72d3fe !important;
  color: white !important;
  border-radius: 10px;
  border: 5px solid #dedede70;
}

.calendarHighlight {
  border: 5px solid #bbeafe !important;
  background-color: white !important;
  border-radius: 50% !important;
  font-size: 15px !important;
}

abbr {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .dashboard-container {
    height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
  }

  .react-calendar {
    width: 80vw !important;
    height: 80vw !important;
    border: none !important;
    font-size: 1rem !important;
  }

  .calendar-details {
    width: 80vw;
    height: 80vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .calendar-details .calendar-date {
    font-size: 2em;
  }

  .calendar-details .calendar-progress {
    font-size: 1em;
  }

  .calendar-details .calendar-status {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0;
  }

  .calendar-details .calendar-status img {
    height: 30px;
    width: 30px;
  }

  button.react-calendar__tile.react-calendar__month-view__days__day {
    height: 60px;

    width: 1fr;
    border-radius: 50%;
  }
}

  @media only screen and (max-width: 1400px) {
    .dashboard-container {
      height: 50vh;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      /* border-bottom: 40px dotted #72d3fe; */
    }

    .react-calendar {
      width: 40%;
      transform: scale(0.75);
    }
  } 

  /* @media only screen and (max-width: 800px) {
    .react-calendar__navigation__label {
      font-size: 20px;
    }
    


    .navbar-container {
      padding: 0 2em;
    } 
    .react-calendar {      
      height: 500px !important;
    }   
  } */

  .panel-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 10%;
    /* border: 5px solid orange; */
  }
  
  .panel-card {
  /* .panel-container .panel-card { */
    height: 20%;
    width: 100%;
    /* margin: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0px;
  }

  .panel-target {
  }

  @media only screen and (max-width: 600px) {
    .react-calendar__navigation__label {
      transform: scale(0.75);
    }
  }

  @media only screen and (max-width: 400px) {
    /* might need to do this for .dashboard-container if the calendar-details doesn't work. */
    .react-calendar {
      position: relative;
      top: -60px;
      border: 5px solid orange;
    }
  }


  /* * * * * * * * * * * * *  */

  .panel-container {
    height: 90%;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding-top: 10%;
  }
  
  .panel-card {
  /* .panel-container .panel-card { */
    height: 20%;
    width: 100%;
    /* margin: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px 20px; */
  }
  
  .panel-card:nth-child(1) {
    /* background: #bbeafe; */
    border: 10px solid #bbeafe;
    display: flex;
    flex-flow: column nowrap;
  }
  
  .panel-card:nth-child(2) {
    /* background: #98ddfc; */
    border: 10px solid #98ddfc;
  }
  
  .panel-card:nth-child(3) {
    /* background: #72d3fe; */
    border: 10px solid #72d3fe;
    display: flex;
    flex-flow: column nowrap;
  }
  
  
  .panel-card:nth-child(3) div {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
  }
  
  .panel-card:nth-child(3) div span {
  /* margin: 0 15px; */
   }
  
  .panel-card img {
    height: 40px;
    width: 40px;
  }
  
  #panel-top {
    margin-bottom: 9px;
  }
  
  #panel-bot {
    margin-top: 9px;
  }

  #calendarHoverPre {
    font-family: 'Poppins';
    color: silver;
  }
  
  @media only screen and (max-width: 600px) {
    /* .panel-target { transform: scale(0.5); } */
  }

  .lazyBoop, 
  #introWaterDrop:hover {
    cursor: none;
    animation-name: lazyBoop;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    position: relative;
}
  
@keyframes lazyBoop {
  0% {
  }
  25% {
  }
  30% {
    transform: rotate(-4deg);    
  }
  35% {
    /* transform: translateX(-8px); */
    transform: rotate(0deg);    
  }
  40% {
    /* transform: translateX(-8px); */
    transform: rotate(-4deg);    
  }
  45% {
    /* transform: translateX(-8px); */
    transform: rotate(0deg);    
  }
  50% {
    /* transform: translateX(-8px); */
    transform: rotate(-4deg);
  }
  75% {
    /* transform: translateX(8px); */
  }  
}

  /* * * * * * * * * * * * *  */


  .moveBoat { animation-name: DriveBoat; animation-duration: 6s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; }
  .moveBoatR { animation-name: DriveBoatR; animation-duration: 4s; animation-timing-function: ease-in-out; animation-iteration-count: infinite; }
  
  @keyframes DriveBoat {
    0% {
      left: 0;
    }
    25% {
      margin-left: 50px;
    }
    50% {
      margin-left: -100px;
    }
    75% {
      margin-left: 100px;
    }
    100% {
      margin-left: -50px;
    }
  }  
  
  @keyframes DriveBoatR {
    0% {
      left: 0;
    }
    50% {
      left: calc(100% - 7em);
      margin-left: -50px;
    }
    100% {
      left: 0;
      margin-left: 0px;
    }
  }
