.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1.75fr 0.05fr;
  gap: 0px 0px;
  grid-template-areas:
    'navbar'
    'main'
    'credits';
  width: 80vw;
  height: 95vh;
  margin: 0 auto;
  align-items: center;
  /* justify-items: center; */
}

.navbar { grid-area: navbar; }

body {
  color: rgba(255, 255, 255, 0.927);
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 40px dotted #73defe; */
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.flex { display: flex; }
.column { flex-direction: column; }
.row { flex-direction: row; }
.justCenterAlignCenter { justify-content: center; align-items: center; }
.noFlexWrap { flex-wrap: nowrap; }
.flexWrap { flex-wrap: wrap; }



/* #Page_1 {
  height: 50vh;
  background: #dedede70;
  border: none;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'primary panel';
} */