$babyblue: hsl(194, 99%, 72%);
$dedede: #dedede70;


#appIconGridContainer {
    display: grid;
    // justify-content: space-between; /* Add this line */
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #dedede70;
    min-height: 50vh;
    min-width: 50vw;
    padding: 0.5em 0.5em;
    grid-gap: 0.5em;  
}

#meIconContainer {
    display: grid;
    justify-content: space-between; /* Add this line */
    align-items: center;    
    justify-content: center;
    align-items: center;
    background-color: $dedede;
    min-height: 50vh;
    min-width: 50vw;
    padding: 1em 1em;
    grid-gap: 0.5em;  

}

.img { height: 50px; width: 50px; }